body{
    margin:0;
    font-family:' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif';
}
.left-table{
    margin:2rem;
    width: 40rem;
    border: 0ch;
    
}
.right-table{
    margin:2rem;
    width: 35rem;
}
#greetings{
    text-align: center;
    padding-top: 2rem;
}
img{
        
        width: 35%;
        border-radius: 150px;
        margin-left:11rem ;
        background-color: black;
    
}
.user-details{
    

}
@media (min-width: 576px)

.card-group {
    /* display: flex; */
    /* flex-flow: row wrap; */
    flex-direction: column;
}
